<h1>Listing exames</h1>

<table>
  <thead>
    <tr>
      <th>Descricao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @exames.each do |exame| %>
      <tr>
        <td><%= exame.descricao %></td>
        <td><%= link_to 'Show', exame %></td>
        <td><%= link_to 'Edit', edit_exame_path(exame) %></td>
        <td><%= link_to 'Destroy', exame, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Exame', new_exame_path %>
