<%= form_for(@exames_paciente) do |f| %>
  <% if @exames_paciente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exames_paciente.errors.count, "error") %> prohibited this exames_paciente from being saved:</h2>

      <ul>
      <% @exames_paciente.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :medico_id %><br>
    <%= f.text_field :medico_id %>
  </div>
  <div class="field">
    <%= f.label :paciente_id %><br>
    <%= f.text_field :paciente_id %>
  </div>
  <div class="field">
    <%= f.label :exame_id %><br>
    <%= f.text_field :exame_id %>
  </div>
  <div class="field">
    <%= f.label :quantidade %><br>
    <%= f.number_field :quantidade %>
  </div>
  <div class="field">
    <%= f.label :valor %><br>
    <%= f.text_field :valor %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
